.movie-category-container {
  margin: 0 3rem 3rem;
  color: white;
}

.movie-category-container h2 {}

.movie-category-list {
  overflow-x: auto;

  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  /* background-color: yellow !important; */
}

.movie-category-list::-webkit-scrollbar {
  display: none;
}

.movie-card {
  position: relative;
  flex-shrink: 0;
  width: 250px;
  height: 30rem;
}

.movie-card img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.movie-card p {
  margin-top: 1rem;
  text-align: center;
}

.movie-card p.active {
  text-decoration: underline solid red 2px ;
    text-underline-offset: 20%;
}


/* ! MOVIE DETAILS */
.movie-details {
  margin: 0;
  padding: 1rem 2rem;
  background-color: #000000;
  color: white;

  min-height: 25rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details video {
  width: 50%;
  margin: 0 auto;
}

.movie-details .title {
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2rem;

}

.movie-details .synopsis {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.movie-details .bottom-card {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.release-date {
  font-size: 0.8rem;
  font-weight: bolder;
  text-emphasis-color: rgb(182, 182, 182);
}

.vote-average {
  font-size: 0.8rem;
  font-weight: bolder;
  text-emphasis-color: rgb(182, 182, 182);
}
