.watchlist-category-container {
  margin: 0 3rem 3rem;
    color: white;
}

.watchlist-category-list {
  overflow-x: auto;

  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.watchlist-category-list::-webkit-scrollbar {
  display: none;
}


.watchlist-creator {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  margin-left: 1rem
}
