.favorite-movie-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
  padding: 0rem 2rem 3rem;
}

.no-favorite-movie-msg {
  color: white;
  font-size: 1.75rem;
  text-align: center;
}

.favorite-movie-card {
  flex-shrink: 0;
  width: 10rem;
  position: relative;
}

.favorite-movie-card:hover {
  cursor: pointer;
}

.container-action-icons {
  position: absolute;
  right: 0.7rem;
  top: 0.5rem;
}

.visible {
  display: initial;
}

.invisible {
  display: none;
}

.favorite-movie-card img {
  height: 15rem;
  width: 10rem;
}

.title {
  text-align: center;
  color: white;
}
