.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  padding: 1rem 3rem;
  margin: 1rem;

  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
