.btn-cta {
  display: inline-block;
  background-color: rgb(226, 16, 20);
  font-size: 1.4rem;
  line-height: 1.8rem;
  white-space: nowrap;
  height: 3.5rem !important;
  border-radius: 0px !important;
}

.btn-cta:hover {
  background-color: rgb(246, 13, 18);
}

.btn-auth {
  width: 8rem;
  display: inline-block;
  border-radius: 3px;
  background-color: rgb(226, 16, 20);
}

.btn-auth:hover {
  background-color: rgb(246, 13, 18);
}


.btn-qa {
  font-size: 1.8rem;
  background-color: rgb(42, 42, 42);
  color: white;
  border: none;

  padding: 1rem 2rem;
  margin: 0 auto;

  width: 80%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 10;
}

.btn-link {
  color: #0071eb !important;
  font-size: 0.6rem;
}

.btn-link:hover {
  text-decoration: underline solid #0071eb 2px;
}

.btn-watchlist-form {
  width: 100%;
  text-align: center;
  margin-top: 1rem;

  font-size: 1.3rem !important;
  font-weight: bold !important;

  /* background-color: red !important; */
  color: white !important;
}

/* 212 30 34 */
/* 216 13 18 */
