.content-container {
  background-color: rgb(24, 24, 24) !important;
  height: 100vh;
  width: 100%;
}

.content-container header {
  width: 65%;
  color: white;
  padding: 3rem 2rem;
}

.content-container header h2 {
  font-size: 3rem;
  font-weight: 700;
}

.content-container header p {
  font-size: 1.2rem;
}
